.project-view{
  display: flex;
  flex-flow: column nowrap;

  height: 100%;

  .project-header{
    margin-bottom: 1rem;
    flex-basis: 4rem;

    display: flex;
    flex-flow: row nowrap;

    .title{
      flex: 2 70%;
    }

    .stage-selector{
      flex-basis: 30%;
      border: none;
      border-bottom: 1px solid $font-color;
      border-radius: 0;
      outline: none;
      color: $font-color;
      background: transparent;
      z-index: 2;
    }

    .selector-chevron{
      position: fixed;
      right: 18px;
      padding-top: .5rem;
    }
  }

  .project-container{
    flex: 2;

    display: flex;
    flex-flow: row nowrap;
    height: 100%;

    aside{
      flex-basis: 15rem;

      display: flex;
      flex-flow: column nowrap;

      .filler{
        flex: 2;
        border-right: 1px solid $border-color;
      }

      a{
        flex-basis: 4rem;
        cursor: pointer;
        padding: 1rem;
        font-weight: 500;
        border-right: 1px solid $border-color;
        background-color: $drawer-background-color;

        &.active{
          background-color: $background-color;
          border: 1px solid $border-color;
          border-right: none;
        }
      }
    }

    main{
      flex: 2;
      padding: 1rem;
      border: 1px solid $border-color;
      border-left: none;
    }
  }
}
//
// .scoping-view{
//   display: flex;
//   flex-flow: row nowrap;
//
//   .epic-list-container{
//     flex-basis: 20rem;
//
//     a{
//       display: block;
//
//       &.active{
//         text-decoration: underline;
//         // background-color: $background-color;
//       }
//     }
//   }
//
//   .epic-detail-container{
//     flex: 2;
//     // margin-top: 6rem;
//     padding: 1rem;
//     background-color: $drawer-background-color;
//     border: 1px solid $border-color;
//   }
// }
