$background-color: rgb(48,53,65);
$font-color: rgb(188,199,210);
$border-color: rgb(62, 68, 81);

$drawer-background-color: rgb(40, 48, 52);
$drawer-font-color: rgb(166, 171, 179);
$drawer-highlight-color: white;

$nav-background-color: rgb(62,68,81);
$nav-font-color: rgb(164,169,177);

$inverse-primary-color: #ddd;
$inverse-primary-color-dark: #aaa;
