nav{
  background-color: $nav-background-color;
  width: 100%;
  z-index: 2;
  height: 6rem;
  padding: 1rem;
  box-shadow: 2px 0px 2px 0px #111;
  flex-basis: 50px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .nav-item{
    flex-basis: 33%;
    text-align: center;

    &.left{
      text-align: left;
    }

    &.right{
      text-align: right;
    }

    .nav-link:nth-child(2){
      margin-left: 2rem;
    }
  }

  .nav-link{
    color: $inverse-primary-color;
    font-size: 20px;
    font-weight: 500;

    &:hover{
      color: $inverse-primary-color-dark;
    }
  }
}
